<div class="col-sm-6">
    <form class="row" >
        <div class="col-md-6">
            <div class="form-group">
          <div class="input-group" style="margin-left: -15px;">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button" (click)="searchIngredent(searchFormControl)">Go!</button>
            </span>
            <input type="search" class="form-control" [formControl]="searchFormControl" placeholder="Search based on ingredent" >
          </div>
          </div>
        </div>
        
    </form>
    <div class="row">
    <div class="form-group">
    <button type="button" class="btn btn-default" (click)="filterList(sortOrder.r)">
      <span class="glyphicon glyphicon-filter" aria-hidden="true"> </span>Best Recipes
    </button>
    <button type="button" class="btn btn-default" (click)="filterList(sortOrder.t)">
        <span class="glyphicon glyphicon-filter" aria-hidden="true" > </span>Trending Recipes
    </button>
    <button type="button" class="btn btn-default" (click)="openCart()" >
        <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true" > </span> {{cartArray.length}}
    </button>  
  </div>
</div>
    <ul id="grouplist" class="list-group content scroll scroll1" style="margin-left: -15px; border: 1px solid #ccc; border-radius: 4px;" >
        <li class="list-group-item" *ngFor="let receipe of receipeArray; let i = index" (click)="viewItem(receipe)">
          <h4 class="list-group-item-heading" title="Title">{{receipe.title}}</h4>
          <p class="list-group-item-text" title="Publisher">{{receipe.publisher}}
              <a class="pull-right" href="javascript:void(0)" (click)="addToCart(receipe, i)">
                  <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart
              </a>
          </p>
        </li>
    </ul> 
</div>
<div class="col-sm-6" *ngIf="itemSelected">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{selectedReceipe.title}}</h3>
          </div>
        <div class="panel-body">
          <img [src]="selectedReceipe.image_url" alt="" style="width: 200px; height: 200px">
        </div>
        <div class="panel-footer">
          <a [href]="selectedReceipe.publisher_url">Publisher:- {{selectedReceipe.publisher}}</a>
          <span class="badge pull-right" title="Rank">Rank:- {{selectedReceipe.social_rank}}</span>
        </div>
      </div>
</div>

<app-cart-modal [(selectedCartArray)]="cartArray" #cart></app-cart-modal>